

#wrapper {
    background-color: rgb(20, 20, 20);

}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 68px;
    background-color: #141414;
    /* background-color: #333; */
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 10;

}

.header-logo {
    width:92px;
    height: 30px;
    color: red;
    cursor: pointer;
    align-items: center;
    line-height: 68px;
    cursor: pointer;
}
.header-logo:hover{
    color: rgba(202, 11, 11, 0.6);
}

/* navigation */

.header-main {
    cursor: pointer;

}

.main__navigation {
    display: flex;
    margin-left: -110px;
    color: var(--white-color);
}




.navigation-item:hover a  {
    color: #e5e5e5;
}

.navigation-item {
    list-style-type: none;
    height: 68px;
    max-width: 154px;
    min-width: 24px;

}
.navigation-item a {
  color: #e5e5e5;
  line-height: 68px;
  font-size: 0.6rem;
  font-weight: 300;
  text-decoration: none;
  padding: 0 12px;
  height: var();
 
 

}


/* Sub-navagation */

.header__sub {
    
}

.secondary__navigation {
    display: flex;
}

.header__sub-item {
    list-style: none;
    height: var(--height-header);
    cursor: pointer;
}

.header-search,
.item-notification {
    display: block;
    width: 20px;
    height: 20px;
    color: white;
    
    
}
.item-notification {
    position: relative;
}

.header__notification {
    position: absolute;
    top: 80px;
    right: 0;
    width: 400px;
    height: 116px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    color: #e5e5e5;
    border-top: 3px solid var(--arrow-up-color);
    background-color: #141414;
    transform-origin: top right;
    animation: displayNotification linear 0.4s;
    display: none;
}

.display-notification:hover .header__notification{
    display: block;
}

.header__notification::before{
    content: '';
    position: absolute;
    border-width: 6px 6px;
    border-style:solid;
    border-color: transparent transparent var(--arrow-up-color) transparent ;
    top: -15px;
    right: 8px;


}

.header__notification::after{
    
    position: absolute;
    display: block;
    border-style: solid;
    background-color: transparent;
    width: 40px;
    height: 8px;
    top: -15px;
    right: 0;


}

@keyframes displayNotification {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);

    }
}

.header__sub-item a{
    text-decoration: none;
    color: #e5e5e5;
    font-size: 0.6rem;  

}

.header__sub-item  {
    display: flex;
    padding: 0 12px;
    line-height: var(--height-header);
}
/* .header__sub-item li + .header__sub-item li{
    padding: 0 12px;
} */

.avatar {
    position: relative;
   width: 32px;
   height: 40px; 
   margin-top: 16px;
   border-radius: 4px;
   
}

/* registers */





.header__sub-register {
    position: absolute;
    top: 90px;
    right: 30px;
    width: 220px;
    height: 240px;
    background-color: rgba(0,0,0,.9);
    box-shadow: 0 0 rgba(0,0,0,0.1);
    border-radius: 4px solid;
    transform-origin: top right;
    animation:displayForm linear 0.3s ;
    display: none;

}

.header__sub-register::before {
    position: absolute;
    content: '';
    top: -16px;
    right: 17px;
    border-width: 8px 10px;
    border-style: solid;
    border-color:transparent transparent var(--arrow-up-color) transparent;

}

.display__form:hover .header__sub-register{
    display: block; 
}

@keyframes displayForm {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}



.header__sub-register-title {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 10px 10px 5px;
    align-items: center;
    border-bottom: 1px solid var(--arrow-up-color);

}
.user-avatar {

    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 4px;
    object-fit: cover;
}

.header__sub-register-title p{
    color:var(--white-color);
    font-size: 1rem;
    font-weight: 400;
    flex: 1;
    line-height: 50px;
 
    
}



.main-register {
    padding: 10px 10px;
    border-bottom: 1px solid var(--white-color);
}

.register-item {
    width: 100%;
    line-height: 60px;
    padding: 10px 5px;
    list-style: none;
    line-height: 0px;
    font-size: 0.9rem;

}

.register-item i {
    width: 20px;
    height: 20px;
    color: var(--white-color);
}

.register-item a{ 
    font-size: 0.8rem;
    color: var(--white-color);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.register-logout a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: var(--white-color);


}


/* Slider */

#slider {
    position: relative;
    height: 400px;
    margin-top: var(--height-header);
    padding-top: 50%;
    background: url(/asset/img/slider-img-1.png) top center / cover no-repeat;
}
.wrapper {
    display: block;
    position: absolute;
    top: 100px;
    left: 30px;
}

#slider .slider-title {
    color: var(--white-color);
    font-size: 44px;
}

.slider-content {
    color: var(--white-color);
    font-size: 14px;
    max-width: 500px;
}

.function {
    margin-top: 20px;
    display: flex;
   
}

.play-btn {
    height: 34px;
    width: 98px;
    margin-right: 8px;
    border-radius: 3%  ;
    border-color: transparent;
    align-items: center;
    cursor: pointer;
}
.play-btn:hover{
    background-color: rgba(255, 255, 255, 0.75);
    border-color: transparent;
}

.play-btn i{
    padding-left: 16px;
    font-size: 20px;
}

.play-btn span{
    padding-left: 10px;
    color: #141414;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    align-items: center;
}



.information {
    width: 150px;
    height: 34px;
    color: var(--white-color);
    border-color: transparent;
    background-color: rgba(109, 109, 110, 0.7);
    cursor: pointer;
  
}

.information:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

.information i{
    color: var(--white-color);
    font-size: 16px;
    padding-right: 6px;
    background-color: transparents;

}

/* CONTENT */

#content {
    width: 100%;
    height: 1000px;
}
.category {
    
}
.movie__just-netflix{
    background-color: #141414;
    display: block;
    padding: 20px 0;
    
}

.movie-title{
    position: relative;
    font-size: 18px;
    /* width:330px; */
    color: var(--white-color);
    font-weight:600 ;
    margin-left: 86px;
   
    transition-delay: 0.5s;
    animation: displayAllMovies  linear 2s;

}

.display-all-movie:hover .movie-look-all{
    display:flex ;
}

@keyframes displayAllMovies{
    from{
        opacity: 0;
        transform: translate3d(0);
       
    }
    to{
        opacity: 1;
        transform: translate3d(1);

        


    }
}

.movie-look-all{
    top: 6px;
    left: 158px;
    position: absolute;
    display: flex;
    align-items: center;
    color: #54b9c5;
    display: none;

}

.movie-look-all p{
    font-size: 12px;
    font-weight: 300;
}

.movie-look-all i {
    font-size: 12px;
    padding: 0 6px;
}

.movie__just-netflix-main{
    width: 100%;
    display: flex;
    justify-items: autos;
    padding: 10px 34px 0;
    
}

.movie__just-netflix-main img{
    width: 224px;
    height: 126px;
    border-radius: 4px;
    padding: 0 3px;
    
}

.movie__just-netflix-main img:hover {
    background-color: red;
}


.movie1{
    position: relative;
    /* transform-origin:  center; */
    animation: onThumbnail linear 0.8s;
    cursor: pointer;
}

/* .movie1:hover{
    background-color: red;
} */

.movie1:hover .warp-display-movie{
    display: block;
}

@keyframes onThumbnail {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.warp-display-movie{
    position: absolute;
    top: 100%;
    left: 0;
    width: 280px;
    height: 342px;
    display: block;
    background-color:#141414;
    z-index: 5;
    display: none;
    cursor: pointer;
}

.warp-display-movie img{
    width: 280px;
    height: 158px;
}

.body-display-movie{
    padding: 16px;
}

.items-icon{ 
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.icon-left i{
    display: inline-block;
    font-size: 28px;
    width: 34px;
    height: 34px;
    border-color: var(--white-color);
    color: var(--white-color);
    background-color: transparent;

}



.icon-right{
    font-size: 28px;
    width: 34px;
    height: 34px;
    color: var(--white-color);
    background-color: transparent;
    border-color: var(--white-color);
    font-weight: 300;
    padding-left: 100px;
}

.match{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;

}

.match h3{
    color: #46d369;
    font-size: 16px;

}

.match button{
    padding: 0 6px;
    background-color: transparent;
    color: var(--white-color);
    border-color: var(--white-color);

}

.match h3:nth-child(3){
    color: var(--white-color);
    
}


.type-movie{ 
    display: flex;
    justify-content:flex-start;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}

.type-movie p{
    margin-right: 10px;
} 

.movie-discription{
    color: var(--white-color);
}


.btn-left,
.btn-right {
    display: block;
    color: var(--white-color);
    width: 30px;
    height: 126px;
    font-size: 2.5rem;
    background-color: transparent;
    padding: 0 10px;
    /* background: hsla(0,0%,8%,.5); */

    border-color: transparent;
    cursor: pointer;

}
.btn-left{
    padding-right: 32px;
}

.btn-left,
.btn-right:hover {
    background: hsla(0,0%,8%,.7);
}



/* FOOTER */
#footer {
    background-color: #141414;
    width: 100%;
    height: 500px;
   
}

.contact{
    display: flex;
    padding: 0 34px;
    margin-bottom: 8px;
}

.contact a{
    margin-right: 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
}
.contact-facebook{
    background-color: transparent;
    color: var(--white-color);
}

.contact-instagram{
    background-color: transparent;
    color: var(--white-color);
}

.contact-twitter{
    background-color: transparent;
    color: var(--white-color);
}

.contact-youtube{
    background-color: transparent;
    color: var(--white-color);
}

.wrapper-footer{
    padding: 0 34px;
}
.wrap{
    width: 100%;
}
.support-category{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
/* .support-items +.support-items{
    margin-bottom: 16px;
} */
.support-items{
    font-size: 16px ;
    line-height: 34px;
    font-weight: 400;
    color: #808080;
    list-style: none;
    cursor: pointer;
}


.footer-service {
    padding: 0 34px;
    margin-top: 34px;
}

.service {
    font-size: 18px;
    background-color: transparent;
    padding: 10px 6px;
    margin-bottom: 20px;
    color: #808080;
    border-color:  #808080 ;
    cursor: pointer;
   

}

.service:hover {
    color: white;
}

.footer-copy-instant {
   display: flex;
   justify-content: flex-start;
   font-size: 16px;
   font-weight: 400;
   color: #808080;
   outline: none;
}

.footer-copy-instant span{
    margin-right: 4px;
}




